.btn
{
  background-color: red;
  color: white; 
  padding-inline: 1rem;
  padding-block: .5rem;
  border-radius: 16px;
}
.wrap{
  margin-top: 50px;
  margin-bottom: 100px;
}

.active {
  background: yellow;
}